@{
    Layout="_Layout";
}

@using Pierre.Models;
<h3>@Model["vendor"].Name Orders</h3>
<p>Deliver To: @Model["vendor"].Location</p>

<ul>
    @foreach (Order order in @Model["orders"])
    {
        <li>Name: @order.Name</li>
        <li>Dates: @order.Dates</li>
        <li>Price: @order.Price</li>
        <li>Payment Received: @order.HasPaid</li>
        
        <li>Details:</li>
        <ul>
            @foreach (var detail in order.Details)
            {
                <li>@detail.Key @detail.Value</li>
            }
        </ul>
    }
</ul>

<button><a href="/vendors">Return to Vendors List</a></button>
<button><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></button>
