@{
  Layout = "_Layout";
}

@using Pierre.Models;
<div id="ordersList">
  <h3><strong>@Model["vendor"].Name</strong> Orders</h3>
  <p id="deliverTo">Deliver To: @Model["vendor"].Location</p>
  <button><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></button>

  @foreach (Order order in @Model["orders"])
  {
    <div class="orderCard">
      <h2>@order.Name</h2>
      <p>@order.Dates</p>
      <ul>
        @foreach (var detail in order.Details)
        {
          <li>@detail.Key @detail.Value</li>
        }
      </ul>
      <p class="total">Total: $@order.Price.00</p>
      @if (@order.HasPaid == false)
      {
        <p id="false">NOT PAID</p>
      } else {
        <p>PAID</p>
      }
    </div>
  }
</div>